
@import url('https://googleapis.com');


body {
  width: 	440px;
  height: 956px;
  margin: 0 auto;
  background-color: #0c0909;
  border: #E09F3E 1px solid;
  border-radius: 10px;
  padding: 2rem 2rem
}

.font-playfair {
  font-family: 'Playfair Display', serif;
}

.font-newsreader {
  font-family: 'Newsreader', serif;
}

.text-gold {
  color: #E09F3E;
}

.text-red {
  color: #BA3B46;
}

.text-white {
  color: #F4EDE4;
}

.bg-red{
  background-color: #BA3B46;
}

button {
  border: none;
}